    <!DOCTYPE html>
    <html lang="en">

    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
        <title>Save.My.Lab</title>
        <link rel="stylesheet" href="/css/default/forgot.css">
    </head>

    <body class="background h-screen flex flex-col">
        <!-- HEADER -->
        <header id="head" class="absolute top-0 left-0 w-full flex justify-between items-center p-6 z-10">
            <button id = "backBtn">
                <img class="w-40 cursor-pointer" src="/images/white.png" alt="App Logo">
            </button>
        </header>

        <main class="flex items-center justify-center min-h-screen">
            <!-- LOGIN FORM -->
            <div class="flex flex-col items-center pt-12 px-12 bg-gradient-to-b from-white via-white/70 to-[#265429]/40 rounded-xl shadow-2xl w-full max-w-xl">
                <img class="w-32 mb-4" src="/images/dlsupng.png">
                <h2 class="text-4xl font-bold text-[#016938] mb-6">Forgot Password?</h2>
                <span id="errMes" class=" text-red-600 font-semibold"></span>
            
                <div class="w-full space-y-4">
                    <!-- EMAIL -->
                    <div id ="email" class="form-control">
                        <label class="label">
                            <span class="label-text text-[#016938] font-semibold">Email</span>
                        </label>
                        <input id="emailInput" type="email" placeholder="Enter your email"
                            class="input input-bordered w-full bg-[#FAFAFA] placeholder:text-[#D9D9D9] focus:ring-2 focus:ring-[#265429]">
                    </div>

                    <button id= "emailBtn" class="btn bg-[#265429] text-white border-none hover:bg-[#1f4320] rounded-full px-8">
                            Confirm
                    </button>
            
                    <!-- NEW PASSWORD -->
                    <div id ="pw1" class="form-control hidden">
                        <label class="label">
                            <span class="label-text text-[#016938] font-semibold">New Password</span>
                        </label>
                        <input id="pw1Input" type="password" placeholder="Enter new password (Minimum 8 Characters)"
                            class="input input-bordered w-full bg-[#FAFAFA] placeholder:text-[#D9D9D9] focus:ring-2 focus:ring-[#265429]">
                    </div>
            
                    <!-- RE-ENTER NEW PASSWORD -->
                    <div id ="pw2" class="form-control hidden">
                        <label class="label">
                            <span class="label-text text-[#016938] font-semibold">Re-enter New Password</span>
                        </label>
                        <input id="pw2Input" type="password" placeholder="Re-enter new password"
                            class="input input-bordered w-full bg-[#FAFAFA] placeholder:text-[#D9D9D9] focus:ring-2 focus:ring-[#265429]">
                    </div>
            
                    <!-- ACTIONS -->
                    <div id = "newPw" class="flex items-center justify-between pt-4 hidden">
                        <button id= "newPwBtn" class="btn bg-[#265429] text-white border-none hover:bg-[#1f4320] rounded-full px-8">
                            Confirm
                        </button>
                    </div>
            
                    <!-- FORGOT PASSWORD -->
                    <div class="text-center pt-4">
                                        
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="absolute bottom-0 w-full text-center text-white p-4 z-10">
            Lab Reservation System by Labron James Group
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/scripts/default/forgot-user.js"></script>

    </body>

    </html>