<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Save.My.Lab</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../public/css/default/homepage2.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="../../public/css/default/index.css" rel="stylesheet">
  <style>
    /* Fade animation for slides */
    .fade {
      animation: fade 1s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }

      to {
        opacity: 1;
      }
    }
  </style>
</head>

<body class="bg-gray-300">

  <div class="drawer">
    <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />

    <!-- Page Content -->
    <div class="drawer-content">

      <body class="">
      <!-- Navbar -->
      <nav class="navbar h-[70px]">
        <div class="max-w-8xl">
          <div class="flex justify-between">
            <div class="flex space-x-4 h-[80px]">
              <!-- logo -->
              <div class="flex items-center">
                <img class="w-[90px] h-[60px] ml-4" src="../../public/images/white.png" alt="App Logo">
              </div>
              <!-- primary nav -->
              <div class="flex items-center space-x-5 text-gray-700">
                <!-- Home -->
                <a href="../default/homepage2.html" class="flex py-4 px-4">
                  <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                  </svg>

                  <span class="ml-1 font-bold text-white">Home</span>
                </a>

                <!-- Profile -->
                <a href="../user/profile-settings.html" class="flex py-4 px-4">
                  <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                  </svg>

                  <span class="ml-1 font-bold text-white">Profile</span>
                </a>

                <!-- Reserve -->
                <a href="../user/student-add-reservation.html" class="flex py-4 px-4">
                  <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" />
                    <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z" clip-rule="evenodd" />
                  </svg>
    
                  <span class="ml-1 font-bold text-white">Reserve</span>
                </a>
              </div>
            </div>
            <!-- secondary nav -->
            <div class="flex items-center space-x-5 text-gray-700 absolute top-[25px] right-[10px]">
              <a href="../default/index.html" class="flex mr-6">
                <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg>

                <span class="font-bold text-white">Logout</span>
              </a>
            </div>
          </div>
        </div>
      </nav>

      <main class="min-h-screen px-8 py-8 bg-green-900"
        style="background-image:linear-gradient(rgba(20,83,45,0.8), rgba(20,83,45,0.8)),url('https://www.transparenttextures.com/patterns/cubes.png');">
        <section class="flex flex-col items-center gap-6">



          <!-- TOP: Infinite Carousel -->
          <div class="carousel">
            <div class="group">
              <img class="card" src="../../public/images/cplab1.jpg" alt="Lab 1">
              <img class="card" src="../../public/images/colab2.jpg" alt="Lab 1">
              <img class="card" src="../../public/images/cplab2.png" alt="Lab 1">
            </div>
            <div class="group">
              <img class="card" src="../../public/images/cplab1.jpg" alt="Lab 1">
              <img class="card" src="../../public/images/colab2.jpg" alt="Lab 1">
              <img class="card" src="../../public/images/cplab2.png" alt="Lab 1">
            </div>
          </div>

          <!-- BOTTOM: Text Content -->
          <div class="w-[70%] text-center">
            <h1 class="text-7xl font-bold text-white mb-4">
              About Save.My.Lab
            </h1>
            <p class="text-lg text-white text-justify mb-6">
              Built by Group Labron James, Save.My.Lab is a dedicated platform designed to ease the reservation of DLSU
              computer laboratories for both students and lab technicians. We know how stressful it can be to find an
              available PC when deadlines are tight. By bringing a highly visual, interactive booking system to our labs, we
              ensure students always have a seat waiting for them, while giving technicians the tools they need to manage room
              capacities efficiently.
            </p>
            <h2 class="text-lg text-white mb-6">
              Check available computer labs and reserve your seat quickly. Select a building, choose a time slot, and pick an
              available computer.
            </h2>
          </div>
        </section>
      </main>

    </div>

    <!-- Sidebar -->
    <div class="drawer-side">
      <label for="my-drawer-1" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <li><a>Sidebar Item 1</a></li>
        <li><a>Sidebar Item 2</a></li>
      </ul>
    </div>

  </div>

  <!-- External JS -->
  <script src="../../public/scripts/default/homepage.js"></script>
  <footer class="absolute bottom-0 w-full text-center text-white p-4 z-10">
    Lab Reservation System by Labron James Group
  </footer>
</body>

</html>