<!-- Navbar -->
<nav class="navbar h-[70px]">
  <div class="max-w-8xl">
    <div class="flex justify-between">
      <div class="flex space-x-4 h-[80px]">
        <!-- logo -->
        <div class="flex items-center">
          <img class="w-[90px] h-[60px] ml-4" src="../../images/white.png" alt="App Logo">
        </div>
        <!-- primary nav -->
        <div class="flex items-center space-x-5 text-gray-700">
          <!-- Home -->
          <a href="" id="home" class="flex py-4 px-4">
            <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>

            <span class="ml-1 font-bold text-white">Home</span>
          </a>

          <!-- Profile -->
          <a href="" id="profile" class="flex py-4 px-4">
            <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>

            <span class="ml-1 font-bold text-white">Profile</span>
          </a>

          <!-- Reserve -->
          <a href="" id="reserve" class="flex py-4 px-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="ml-1 font-bold text-white">Reserve</span>
          </a>

          <!-- View Reservations -->
          <a href="" id="view_reservations" class="flex py-4 px-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 3h.008v.008H12V18Zm-3-6h.008v.008H9v-.008ZM9 15h.008v.008H9V15Zm0 3h.008v.008H9V18Zm6-6h.008v.008H15v-.008ZM15 15h.008v.008H15V15Zm0 3h.008v.008H15V18Z" />
            </svg>
            <span class="ml-1 font-bold">View Reservations</span>
          </a>
        </div>
      </div>
      <!-- secondary nav -->
      <div class="flex items-center space-x-5 text-gray-700 absolute top-[25px] right-[10px]">
        <a href="#" id="logoutBtn" class="flex mr-6">
          <svg class="w-5 dark:text-gray-100" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
          </svg>
          <span class="font-bold text-white">Logout</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  $(document).ready(function () {
    console.log("Navbar Script running");
    $("#reserve").on("click", async function (e) {
      e.preventDefault();
      try {
        window.location.href = `/user/add-reservation`
      } catch (err) {
        console.error("Login Error:", err);
        alert("An error occurred. Check the F12 console.");
      }
    });

    $("#profile").on("click", async function (e) {
      e.preventDefault();
      try {
        window.location.href = `/user/profile-settings`
      } catch (err) {
        console.error("Login Error:", err);
        alert("An error occurred. Check the F12 console.");
      }
    });

    $("#home").on("click", async function (e) {
      e.preventDefault();
      try {
        window.location.href = `/user/landing`
      } catch (err) {
        console.error("Login Error:", err);
        alert("An error occurred. Check the F12 console.");
      }
    });

    $("#view_reservations").on("click", async function (e) {
      e.preventDefault();
      try {
        window.location.href = `/user/view-reservations`
      } catch (err) {
        console.error("Login Error:", err);
        alert("An error occurred. Check the F12 console.");
      }
    });

    $("#logoutBtn").on("click", async function (e) {
      e.preventDefault();
      try {
        const res = await fetch("/user/logout");
            if (res.ok) {
                window.location.href = "/";
            }
        } catch (err) {
            console.error("Logout failed:", err);
        }
    });
  })
</script>