/*CONTENTS*/

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}


/*HEADER*/

#head { /* the green bar you see sa taas*/
  background: #307c17;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left { /* makes the contents on the flex align to the left*/
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo { /* image class*/
  width: 45px;
}

.title { /* this is for a span*/
  color: white;
  font-size: 26px;
  font-weight: bold;
}

/*FOOTER*/

footer {
  text-align: right;
  padding: 10px 30px;
  color: #307c17;
  font-size: 14px;
}