<body class="bg-[#F8FAFC] min-h-screen">
  <div class="flex flex-col md:flex-row min-h-screen">
    <!-- Left Side -->
    <aside class="w-full md:w-80 bg-white border-r border-slate-200 p-6 flex flex-col items-center">
      <!-- Search Bar -->
      <form class="w-full max-w-xs mt-7">
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="search"
            class="w-full p-3 ps-9 bg-slate-50 border border-slate-200 text-sm rounded-lg focus:ring-2 focus:ring-[#1e3a2a]/20 focus:border-[#1e3a2a] outline-none transition-all"
            placeholder="Search User" required />
        </div>
      </form>

      {{!-- User Image --}}
      <div class="relative group mt-10 mb-6">
        <img id="profile_image"
          class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover border-4 border-white shadow-md"
          src="{{user.profile_picture}}" alt="User Image">
        {{!-- Edit Profile Button --}}
        <label for="input_file"
          class="absolute bottom-2 right-2 p-2 bg-white rounded-full shadow-lg cursor-pointer border border-slate-100">
          <svg class="w-5 h-5 text-slate-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        </label>
        <input id="input_file" class="hidden" type="file" accept="image/jpeg, image/jpg, image/png">
      </div>
      <!-- Username -->
      <div class="text-center space-y-1 mb-10">
        <h2 id="profile_username" class="text-2xl font-bold text-slate-800">{{user.username}}</h2>
        {{!-- Title --}}
        <p class="text-sm font-medium text-slate-400 uppercase tracking-widest">Student</p>
      </div>

      <!-- Profile Settings -->
      <nav class="w-full flex flex-col space-y-2">
        <a href="" id="profile-settings"
          class="flex items-center justify-start px-4 py-3 rounded-xl text-slate-600 hover:bg-slate-50 transition-colors space-x-3">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
          <span class="text-md">Profile Settings</span>
        </a>

        <!-- Reservations -->
        <a href="" id="reservations"
          class="flex items-center justify-start px-4 py-3 rounded-xl bg-[#34493e] hover:bg-[#3d564a] text-white shadow-md space-x-3">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M12 11.993a.75.75 0 0 0-.75.75v.006c0 .414.336.75.75.75h.006a.75.75 0 0 0 .75-.75v-.006a.75.75 0 0 0-.75-.75H12ZM18 2.993a.75.75 0 0 0-1.5 0v1.5h-9V2.994a.75.75 0 1 0-1.5 0v1.497h-.752a3 3 0 0 0-3 3v11.252a3 3 0 0 0 3 3h13.5a3 3 0 0 0 3-3V7.492a3 3 0 0 0-3-3H18V2.993Z" />
          </svg>
          <span class="text-md font-bold">Reservations</span>
        </a>

        <!-- Account Security -->
        <a href="" id="account-security"
          class="flex items-center justify-start px-4 py-3 rounded-xl text-slate-600 hover:bg-slate-50 transition-colors space-x-3">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>
          <span class="text-md">Account Security</span>
        </a>
      </nav>
    </aside>

    <!-- Right Side -->
    <main class="flex-1 p-4 md:p-10 lg:p-16">
      {{!-- Filter Search --}}
      <div class="flex flex-wrap items-center gap-3 mb-8">
        <div class="relative flex-grow max-w-lg">
          {{!-- Filter Dropdown Menu --}}
          <div id="filterDropdownMenu"
            class="hidden absolute top-12 left-2 w-24 overflow-hidden bg-white border border-slate-200 rounded-md shadow-lg z-10">
            <ul id="filterDropDownOptions">
              <li id="building_filter" class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                data-value="Building">Building
              </li>
              <li id="room_filter" class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                data-value="Room"> Room
              </li>
              <li id="date_filter" class="px-4 py-2 text-slate-600 hover:bg-slate-50 text-sm cursor-pointer"
                data-value="Date">Date
              </li>
            </ul>
          </div>
          {{!-- Search Bar --}}
          <input id="filterSearch" type="text" id="input-group-1"
            class="w-full pl-28 pr-12 py-2.5 rounded-xl border border-slate-200 focus:ring-2 focus:ring-[#1e3a2a]/10 focus:border-[#1e3a2a] outline-none transition-all shadow-sm"
            placeholder="Choose a filter">

          {{!-- Filter By Dropdown Button --}}
          <button id="filterDropdownButton"
            class="absolute left-2 top-2 px-3 py-1 rounded border border-transparent py-1 px-1.5 text-center flex items-center text-sm transition-all text-slate-600 bg-transparent text-gray-600 border border-gray-200 hover:bg-gray-50">
            <span id="filterDropdownText" class="text-ellipsis overflow-hidden">Filter By</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-4 w-4 ml-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </button>

          {{!-- Filter Search Button --}}
          <button id="filterSearchButton"
            class="active:scale-95 transition-transform absolute right-2 top-2 p-1.5 rounded bg-green-900 p-1.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:bg-green-800 focus:bg-green-800 focus:shadow-none active:bg-green-700 hover:bg-green-800 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
              <path fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        {{!-- Clear Filter Button --}}
        <button id="clear_filter_button" class="hidden flex items-center active:scale-95 transition-transform px-2 text-xs w-[103px] h-[29px] transition-all duration-200 
               bg-transparent text-[#1e3a2a] border border-[#1e3a2a] 
               hover:bg-[#1e3a2a] hover:text-white rounded-md text-white font-bold py-[4px] rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>

          <span class="ml-[4px]">Clear Filter</span>
        </button>
        {{!-- Table --}}
        <div class="w-full bg-white rounded-2xl shadow-sm border border-slate-200 overflow-hidden">
          <div class="overflow-x-auto">
            <table id="table" class="w-full text-sm text-left border-collapse">
              <thead class="bg-slate-50 border-b border-slate-100">
                <tr>
                  <th class="px-6 py-4 font-bold text-slate-600">Building</th>
                  <th class="px-6 py-4 font-bold text-slate-600">Room</th>
                  <th class="px-6 py-4 font-bold text-slate-600">Date</th>
                  <th class="px-6 py-4 font-bold text-slate-600">Start</th>
                  <th class="px-6 py-4 font-bold text-slate-600">End</th>
                  <th class="px-6 py-4 font-bold text-slate-600">Action</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
  {{!-- Modal for View Seats --}}
  <div id="view_modal" class="fixed inset-0 z-[9999] flex items-center justify-center p-4 hidden">
    <div class="absolute inset-0 bg-slate-900/60 backdrop-blur-sm modal-backdrop"></div>

    <div class="relative z-10 w-full max-w-sm bg-white rounded-2xl shadow-2xl overflow-hidden border border-gray-100">
      <div class="bg-[#1e3a2a] px-6 py-4 flex justify-between items-center">
        <h3 class="font-bold text-white tracking-wide">Reserved Seats</h3>
        <button type="button" id="hide_view_modal"
          class="text-white/70 hover:text-white transition-transform active:scale-90">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="p-8">
        <div id="view_modal_body" class="flex flex-wrap gap-3 justify-center">
        </div>

        <div class="mt-8 flex justify-center">
          <button id="confirm_okay" type="button"
            class="w-full bg-[#1e3a2a] hover:bg-[#2d523d] text-white font-bold py-3 px-6 rounded-xl transition-all shadow-md active:translate-y-0.5">
            Got it
          </button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/scripts/user/account-reservations.js"></script>

</body>

</html>