<body class="bg-[#F8FAFC] min-h-screen">
  <div class="flex flex-col md:flex-row min-h-screen">
    <!-- Left Side -->
    <aside class="w-full md:w-80 bg-white border-r border-slate-200 p-6 flex flex-col items-center">
      <!-- Search Bar -->
      <form class="w-full max-w-xs mt-7">
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-slate-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <input type="search" id="search"
            class="w-full p-3 ps-9 bg-slate-50 border border-slate-200 text-sm rounded-lg focus:ring-2 focus:ring-[#1e3a2a]/20 focus:border-[#1e3a2a] outline-none transition-all"
            placeholder="Search User" required />
        </div>
      </form>

      {{!-- User Dropdown Searches --}}
      <div
        class="absolute top-44 left-6 w-[270px] overflow-hidden bg-white rounded-md shadow-lg z-10">
        <ul id="userDropdownMenu">
        </ul>
      </div>

      {{!-- User Image --}}
      <div class="relative group mt-10 mb-6">
        <img id="profile_image"
          class="w-40 h-40 md:w-48 md:h-48 rounded-full object-cover border-4 border-white shadow-md"
          src="{{user.profile_picture}}" alt="User Image">
        {{!-- Edit Profile Button --}}
        <label for="input_file"
          class="absolute bottom-2 right-2 p-2 bg-white rounded-full shadow-lg cursor-pointer border border-slate-100">
          <svg class="w-5 h-5 text-slate-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        </label>
        <input id="input_file" class="hidden" type="file" accept="image/jpeg, image/jpg, image/png">
      </div>
      <!-- Username -->
      <div class="text-center space-y-1 mb-10">
        <h2 id="profile_username" class="text-2xl font-bold text-slate-800">{{user.username}}</h2>
        {{!-- Title --}}
        <p class="text-sm font-medium text-slate-400 uppercase tracking-widest">Student</p>
      </div>

      <!-- Profile Settings -->
      <nav class="w-full flex flex-col space-y-2">
        <a href="" id="profile-settings"
          class="flex items-center justify-start px-4 py-3 rounded-xl text-slate-600 hover:bg-slate-50 transition-colors space-x-3">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
          <span class="text-md">Profile Settings</span>
        </a>

        <!-- Reservations -->
        <a href="" id="reservations"
          class="flex items-center justify-start px-4 py-3 rounded-xl text-slate-600 hover:bg-slate-50 transition-colors space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 3h.008v.008H12V18Zm-3-6h.008v.008H9v-.008ZM9 15h.008v.008H9V15Zm0 3h.008v.008H9V18Zm6-6h.008v.008H15v-.008ZM15 15h.008v.008H15V15Zm0 3h.008v.008H15V18Z" />
          </svg>
          <span class="text-md">Reservations</span>
        </a>

        <!-- Account Security -->
        <a href="" id="account-security"
          class="flex items-center justify-start px-4 py-3 rounded-xl text-white bg-green-900 hover:bg-green-800 transition-colors space-x-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
              d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-md font-bold">Account Security</span>
        </a>
      </nav>
    </aside>

    <!-- Right Side -->
    <main class="flex-1 p-8 md:p-16">

      <div class="bg-white border px-4 py-8 rounded-xl border-gray-200 shadow-sm">
        {{!-- Account Security Header --}}
        <h1 class="text-3xl font-bold text-slate-800 font-sans">
          Account Security
        </h1>

        <div class="mt-8 space-y-6 max-w-xl">
          <div>
            <!-- Currrent Password -->
            <span class="block text-md font-semibold text-slate-700 mb-2">
              Current Password
            </span>

            <div class="mt-2">
              <div id="cur_password_border" class="max-w-xs flex items-center rounded-md bg-white pl-1">
                <input id="cur_password" type="text" name="cur_password" placeholder="Current Password"
                  class="rounded-md min-w-0 grow py-2 pr-3 pl-2 text-base text-gray-900 placeholder:text-gray-400 border border-slate-200 text-sm rounded-lg focus:ring-2 focus:ring-[#1e3a2a]/20 focus:border-[#1e3a2a] outline-none transition-all" />
              </div>
            </div>
          </div>

          <div>
            <!-- New Password -->
            <span class="block text-md font-semibold text-slate-700 mb-2">
              New Password
            </span>

            <div class="mt-2">
              <div id="new_password_border" class="max-w-xs flex items-center rounded-md bg-white pl-1">
                <input id="new_password" type="text" name="new_password" placeholder="New Password"
                  class="rounded-md min-w-0 grow py-2 pr-3 pl-2 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 border border-slate-200 text-sm rounded-lg focus:ring-2 focus:ring-[#1e3a2a]/20 focus:border-[#1e3a2a] outline-none transition-all" />
              </div>
            </div>
          </div>

          <div>
            <!-- Confirm Password -->
            <span class="block text-md font-semibold text-slate-700 mb-2">
              Confirm Password
            </span>

            <div class="mt-2">
              <div id="confirm_password_border" class="max-w-xs flex items-center rounded-md bg-white pl-1">
                <input id="confirm_password" type="text" name="new_password" placeholder="New Password"
                  class="rounded-md min-w-0 grow py-2 pr-3 pl-2 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 border border-slate-200 text-sm rounded-lg focus:ring-2 focus:ring-[#1e3a2a]/20 focus:border-[#1e3a2a] outline-none transition-all" />
              </div>
            </div>
          </div>

          <!-- Error -->
          <div id="error"
            class="hidden mt-3 w-md h-xs bg-red-100 border border-red-400 text-red-700 px-[10px] py-[5px] rounded relative">
            <strong id="error_header" class="text-xs font-bold">Error!</strong>
            <span id="error_text" class="text-xs block sm:inline"></span>
            <span id="error_button" class="absolute px-[5px] py-[4px]">
              <svg class="fill-current h-[20px] w-[20px] text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <title>Close</title>
                <path
                  d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
              </svg>
            </span>
          </div>

          <!-- Save Changes -->
          <button id="save_changes"
            class="px-5 py-3 rounded-lg text-white bg-green-900 font-semibold shadow-lg shadow-green-900/20 hover:bg-green-800 hover:-translate-y-0.5 transition-all active:scale-95">
            Save Changes
          </button>
        </div>

      </div>
    </main>

    <!-- Right Side -->
    <main class="flex-1 p-8 md:p-16">

      <div class="bg-white border px-4 py-8 rounded-xl border-gray-200 shadow-sm">
        <div class="space-y-6">
          <h1 class="text-3xl font-bold text-slate-800 font-sans">
            Account Deletion
          </h1>

          <button id="deleteBtn"
            class="px-5 py-3 rounded-lg text-white bg-red-600 font-semibold shadow-lg shadow-red-600/20 hover:bg-red-600 hover:-translate-y-0.5 transition-all active:scale-95">
            Delete Account
          </button>
        </div>
      </div>
    </main>

  </div>

  <div id="deleteModal"
    class="fixed inset-0 bg-black/40 flex items-center justify-center hidden z-50">

    <div class="bg-white rounded-xl shadow-lg p-6 w-full max-w-md space-y-5">

      <h2 class="text-xl font-bold text-slate-800">
        Delete Account
      </h2>

      <p class="text-sm text-slate-600">
        Are you sure you want to delete your account?  
        This action cannot be undone.
      </p>

      <div class="flex justify-end space-x-3">

        <button id="cancelDelete"
          class="px-4 py-2 rounded-lg border border-slate-300 text-slate-700 hover:bg-slate-100 transition">
          Cancel
        </button>

        <button id="confirmDelete"
          class="px-4 py-2 rounded-lg text-white bg-red-600 hover:bg-red-700 transition">
          Yes, Delete
        </button>

      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/scripts/user/account-security.js"></script>


</body>