<!DOCTYPE html>
<html>
<head>
  <title>Save.My.Lab</title>
  <link rel="icon" type="image/x-icon" href="../../images/favicon.ico">
  <link rel="stylesheet" href="css/edit-reservation.css">
</head>
<body>

<header id="head">
  <div class="left">
    <img src="../../images/logo.jpg" class="logo" alt="logo">
    <span class="title">Save.My.Lab</span>
  </div>

  <div class="right">
    <a href="user-profile.html" class="header-button">RETURN</a>
  </div>
</header>

<div class="page">
  <h2>Edit Reservation</h2>

  <div class="content">

    <div class="layout-panel">

      <!-- default dlsu pic -->
      <div class="room-wrapper venue-layout" data-venue="">
        <img src="../../images/dlsu.png" class="room-image">
      </div>

      <!-- andrew circles-->
      <div class="room-wrapper venue-layout hidden" data-venue="Andrew Building">
        <img src="../../images/ANDREW.png" class="room-image">

        <!-- 1st column -->
        <div class="seat" style="top:32.4%; left:18.2%;"></div>
        <div class="seat" style="top:48.9%; left:18.2%;"></div>
        <div class="seat" style="top:65.35%; left:18.2%;"></div>

        <!-- 2nd column -->
        <div class="seat" style="top:27.65%; left:24.65%;"></div>
        <div class="seat" style="top:44.15%; left:24.65%;"></div>
        <div class="seat" style="top:60.85%; left:24.65%;"></div>

        <!-- 3rd column -->
        <div class="seat" style="top:24.25%; left:31.1%;"></div>
        <div class="seat" style="top:40.7%; left:31.1%;"></div>
        <div class="seat" style="top:57.25%; left:31.1%;"></div>

        <!-- 4th column -->
        <div class="seat" style="top:20.9%; left:37.55%;"></div>
        <div class="seat" style="top:37.3%; left:37.55%;"></div>
        <div class="seat" style="top:53.8%; left:37.55%;"></div>

        <!-- 5th column -->
        <div class="seat" style="top:17.3%; left:44%;"></div>
        <div class="seat" style="top:33.9%; left:44%;"></div>
        <div class="seat" style="top:50.3%; left:44%;"></div>

        <!-- 6th column -->
        <div class="seat" style="top:17.3%; left:55.98%;"></div>
        <div class="seat" style="top:33.9%; left:55.98%;"></div>
        <div class="seat" style="top:50.3%; left:55.98%;"></div>

        <!-- 7th column -->
        <div class="seat" style="top:20.9%; left:62.45%;"></div>
        <div class="seat" style="top:37.3%; left:62.45%;"></div>
        <div class="seat" style="top:53.8%; left:62.45%;"></div>

        <!-- 8th column -->
        <div class="seat" style="top:24.25%; left:68.92%;"></div>
        <div class="seat" style="top:40.7%; left:68.92%;"></div>
        <div class="seat" style="top:57.25%; left:68.92%;"></div>

        <!-- 9th column -->
        <div class="seat" style="top:10%; left:75.3%;"></div>
        <div class="seat" style="top:27.65%; left:75.3%;"></div>
        <div class="seat" style="top:44.15%; left:75.3%;"></div>
        <div class="seat" style="top:60.85%; left:75.3%;"></div>

        <!-- 10th column -->
        <div class="seat" style="top:10%; left:81.77%;"></div>
        <div class="seat" style="top:32.4%; left:81.77%;"></div>
        <div class="seat" style="top:48.9%; left:81.77%;"></div>
        <div class="seat" style="top:65.35%; left:81.77%;"></div>
      </div>

      <!-- LS CIRCLES-->
      <div class="room-wrapper venue-layout hidden" data-venue="LS Building">
        <img src="../../images/LS.png" class="room-image">

        <!-- 1st column -->
        <div class="seat" style="top:38.9%; left:17.74%;"></div>
        <div class="seat" style="top:54.3%; left:17.74%;"></div>
        <div class="seat" style="top:69.7%; left:17.74%;"></div>
        <div class="seat" style="top:85.1%; left:17.74%;"></div>

        <!-- 2nd column -->
        <div class="seat" style="top:38.9%; left:24.19%;"></div>
        <div class="seat" style="top:54.3%; left:24.19%;"></div>
        <div class="seat" style="top:69.7%; left:24.19%;"></div>
        <div class="seat" style="top:85.1%; left:24.19%;"></div>

        <!-- 3rd column -->
        <div class="seat" style="top:38.9%; left:30.68%;"></div>
        <div class="seat" style="top:54.3%; left:30.68%;"></div>
        <div class="seat" style="top:69.7%; left:30.68%;"></div>
        <div class="seat" style="top:85.1%; left:30.68%;"></div>

        <!-- 4th column -->
        <div class="seat" style="top:38.9%; left:41.78%;"></div>
        <div class="seat" style="top:54.3%; left:41.78%;"></div>
        <div class="seat" style="top:69.7%; left:41.78%;"></div>
        <div class="seat" style="top:85.1%; left:41.78%;"></div>

        <!-- 5th column -->
        <div class="seat" style="top:38.9%; left:48.28%;"></div>
        <div class="seat" style="top:54.3%; left:48.28%;"></div>
        <div class="seat" style="top:69.7%; left:48.28%;"></div>
        <div class="seat" style="top:85.1%; left:48.28%;"></div>

        <!-- 6th column -->
        <div class="seat" style="top:38.9%; left:54.78%;"></div>
        <div class="seat" style="top:54.3%; left:54.78%;"></div>
        <div class="seat" style="top:69.7%; left:54.78%;"></div>
        <div class="seat" style="top:85.1%; left:54.78%;"></div>

        <!-- 7th column -->
        <div class="seat" style="top:38.9%; left:61.28%;"></div>
        <div class="seat" style="top:54.3%; left:61.28%;"></div>
        <div class="seat" style="top:69.7%; left:61.28%;"></div>
        <div class="seat" style="top:85.1%; left:61.28%;"></div>

        <!-- 8th column -->
        <div class="seat" style="top:38.9%; left:72.38%;"></div>
        <div class="seat" style="top:54.3%; left:72.38%;"></div>
        <div class="seat" style="top:69.7%; left:72.38%;"></div>
        <div class="seat" style="top:85.1%; left:72.38%;"></div>

        <!-- 9th column -->
        <div class="seat" style="top:38.9%; left:78.83%;"></div>
        <div class="seat" style="top:54.3%; left:78.83%;"></div>
        <div class="seat" style="top:69.7%; left:78.83%;"></div>
        <div class="seat" style="top:85.1%; left:78.83%;"></div>

        <!-- 10th column -->
        <div class="seat" style="top:38.9%; left:85.28%;"></div>
        <div class="seat" style="top:54.3%; left:85.28%;"></div>
        <div class="seat" style="top:69.7%; left:85.28%;"></div>
        <div class="seat" style="top:85.1%; left:85.28%;"></div>
      </div>

      <!-- goks-->
      <div class="room-wrapper venue-layout hidden" data-venue="Gokongwei Building">
        <img src="../../images/GOKS.png" class="room-image">

        <!-- 1st column -->
        <div class="seat" style="top:35.8%; left:21.27%;"></div>
        <div class="seat" style="top:49.2%; left:21.27%;"></div>
        <div class="seat" style="top:62.6%; left:21.27%;"></div>
        <div class="seat" style="top:75.8%; left:21.27%;"></div>
        <div class="seat" style="top:89.2%; left:21.27%;"></div>

        <!-- 2nd column -->
        <div class="seat" style="top:35.8%; left:27.77%;"></div>
        <div class="seat" style="top:49.2%; left:27.77%;"></div>
        <div class="seat" style="top:62.6%; left:27.77%;"></div>
        <div class="seat" style="top:75.8%; left:27.77%;"></div>
        <div class="seat" style="top:89.2%; left:27.77%;"></div>

        <!-- 3rd column -->
        <div class="seat" style="top:35.8%; left:34.27%;"></div>
        <div class="seat" style="top:49.2%; left:34.27%;"></div>
        <div class="seat" style="top:62.6%; left:34.27%;"></div>
        <div class="seat" style="top:75.8%; left:34.27%;"></div>
        <div class="seat" style="top:89.2%; left:34.27%;"></div>

        <!-- 4th column -->
        <div class="seat" style="top:35.8%; left:44.4%;"></div>
        <div class="seat" style="top:49.2%; left:44.4%;"></div>
        <div class="seat" style="top:62.6%; left:44.4%;"></div>
        <div class="seat" style="top:75.8%; left:44.4%;"></div>
        <div class="seat" style="top:89.2%; left:44.4%;"></div>

        <!-- 5th column -->
        <div class="seat" style="top:35.8%; left:50.85%;"></div>
        <div class="seat" style="top:49.2%; left:50.85%;"></div>
        <div class="seat" style="top:62.6%; left:50.85%;"></div>
        <div class="seat" style="top:75.8%; left:50.85%;"></div>
        <div class="seat" style="top:89.2%; left:50.85%;"></div>

        <!-- 6th column -->
        <div class="seat" style="top:35.8%; left:57.35%;"></div>
        <div class="seat" style="top:49.2%; left:57.35%;"></div>
        <div class="seat" style="top:62.6%; left:57.35%;"></div>
        <div class="seat" style="top:75.8%; left:57.35%;"></div>
        <div class="seat" style="top:89.2%; left:57.35%;"></div>

        <!-- 7th column -->
        <div class="seat" style="top:35.8%; left:67.48%;"></div>
        <div class="seat" style="top:49.2%; left:67.48%;"></div>
        <div class="seat" style="top:62.6%; left:67.48%;"></div>
        <div class="seat" style="top:75.8%; left:67.48%;"></div>
        <div class="seat" style="top:89.2%; left:67.48%;"></div>

        <!-- 8th column -->
        <div class="seat" style="top:35.8%; left:73.95%;"></div>
        <div class="seat" style="top:49.2%; left:73.95%;"></div>
        <div class="seat" style="top:62.6%; left:73.95%;"></div>
        <div class="seat" style="top:75.8%; left:73.95%;"></div>
        <div class="seat" style="top:89.2%; left:73.95%;"></div>

        <!-- 9th column -->
        <div class="seat" style="top:35.8%; left:80.42%;"></div>
        <div class="seat" style="top:49.2%; left:80.42%;"></div>
        <div class="seat" style="top:62.6%; left:80.42%;"></div>
        <div class="seat" style="top:75.8%; left:80.42%;"></div>
        <div class="seat" style="top:89.2%; left:80.42%;"></div>
      </div>

      <!-- yuch -->
      <div class="room-wrapper venue-layout hidden" data-venue="Yuchengco Building">
        <img src="../../images/YUCH.png" class="room-image">

        <!-- 1st column -->
        <div class="seat" style="top:18.9%; left:19.47%;"></div>
        <div class="seat" style="top:34.25%; left:19.47%;"></div>
        <div class="seat" style="top:49.65%; left:19.47%;"></div>
        <div class="seat" style="top:65%; left:19.47%;"></div>

        <!-- 2nd column -->
        <div class="seat" style="top:18.9%; left:26%;"></div>
        <div class="seat" style="top:34.25%; left:26%;"></div>
        <div class="seat" style="top:49.65%; left:26%;"></div>
        <div class="seat" style="top:65%; left:26%;"></div>

        <!-- 3rd column -->
        <div class="seat" style="top:18.9%; left:32.4%;"></div>
        <div class="seat" style="top:34.25%; left:32.4%;"></div>
        <div class="seat" style="top:49.65%; left:32.4%;"></div>
        <div class="seat" style="top:65%; left:32.4%;"></div>

        <!-- 4th column -->
        <div class="seat" style="top:18.9%; left:38.87%;"></div>
        <div class="seat" style="top:34.25%; left:38.87%;"></div>
        <div class="seat" style="top:49.65%; left:38.87%;"></div>
        <div class="seat" style="top:65%; left:38.87%;"></div>

        <!-- 5th column -->
        <div class="seat" style="top:18.9%; left:45.35%;"></div>
        <div class="seat" style="top:34.25%; left:45.35%;"></div>
        <div class="seat" style="top:49.65%; left:45.35%;"></div>
        <div class="seat" style="top:65%; left:45.35%;"></div>

        <!-- 6th column -->
        <div class="seat" style="top:18.9%; left:57.2%;"></div>
        <div class="seat" style="top:34.25%; left:57.2%;"></div>
        <div class="seat" style="top:49.65%; left:57.2%;"></div>
        <div class="seat" style="top:65%; left:57.2%;"></div>

        <!-- 7th column -->
        <div class="seat" style="top:18.9%; left:63.67%;"></div>
        <div class="seat" style="top:34.25%; left:63.67%;"></div>
        <div class="seat" style="top:49.65%; left:63.67%;"></div>
        <div class="seat" style="top:65%; left:63.67%;"></div>

        <!-- 8th column -->
        <div class="seat" style="top:18.9%; left:70.16%;"></div>
        <div class="seat" style="top:34.25%; left:70.16%;"></div>
        <div class="seat" style="top:49.65%; left:70.16%;"></div>
        <div class="seat" style="top:65%; left:70.16%;"></div>

        <!-- 9th column -->
        <div class="seat" style="top:18.9%; left:76.63%;"></div>
        <div class="seat" style="top:34.25%; left:76.63%;"></div>
        <div class="seat" style="top:49.65%; left:76.63%;"></div>
        <div class="seat" style="top:65%; left:76.63%;"></div>

        <!-- 10th column -->
        <div class="seat" style="top:18.9%; left:83.11%;"></div>
        <div class="seat" style="top:34.25%; left:83.11%;"></div>
        <div class="seat" style="top:49.65%; left:83.11%;"></div>
        <div class="seat" style="top:65%; left:83.11%;"></div>

        <!-- 11th column -->
        <div class="seat" style="top:18.9%; left:89.55%;"></div>
        <div class="seat" style="top:49.65%; left:89.55%;"></div>
      </div>

    </div>

    <div class="controls">
      <div class="input-box">
        <select id="venueSelect" required>
          <option value="" disabled selected>Input Venue...</option>
          <option value="Gokongwei Building">Gokongwei Building</option>
          <option value="Andrew Building">Andrew Building</option>
          <option value="LS Building">LS Building</option>
          <option value="Yuchengco Building">Yuchengco Building</option>
        </select>
      </div>

      <div class="input-box" id="roomBox">
        <select id="roomSelect" required>
          <option value="" disabled selected>Input Room...</option>
        </select>
      </div>

      <div class="input-box" id="dateBox">
        <input id="dateInput" type="date" required>
      </div>

      <div class="time-block" id="timeBox">
        <div class="time-row">
          <label class="time-label">Time Start</label>
          <select id="startHour" class="time-input" required>
            <option value="" disabled selected>--</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
          </select>
          <span class="time-colon">:</span>
          <select id="startMinute" class="time-input" required>
            <option value="" disabled selected>--</option>
            <option value="00">00</option>
            <option value="30">30</option>
          </select>
        </div>

        <div class="time-row">
          <label class="time-label">Time End</label>
          <select id="endHour" class="time-input" required>
            <option value="" disabled selected>--</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
          </select>
          <span class="time-colon">:</span>
          <select id="endMinute" class="time-input" required>
            <option value="" disabled selected>--</option>
            <option value="00">00</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <div id="brokenContainer" class="hidden">
        <p><b>Chosen Computers:</b> <span id="brokenText">None</span></p>
      </div>

      <button id="confirmBtn" class="confirm-button">SAVE CHANGES</button>

    </div>
  </div>
</div>

<div class="modal hidden" id="confirmModal">
  <div class="modal-backdrop"></div>
  
  <div class="modal-card">
    <div class="modal-head">
      <div class="modal-title">Confirmation of Reservation</div>
      <button class="button close-confirm" type="button">X</button>
    </div>

    <div class="modal-body">
      <p class="confirm-text"><b>Venue:</b> <span id="resVenue">—</span></p>
      <p class="confirm-text"><b>Room:</b> <span id="resRoom">—</span></p>
      <p class="confirm-text"><b>Date:</b> <span id="resDate">—</span></p>
      <p class="confirm-text"><b>Time:</b> <span id="resTime">—</span></p>
      <p class="confirm-text"><b>Chosen Computers:</b> <span id="resSeats">None</span></p>

      <div class="confirm-actions">
        <label class="anonymous">
            <input type="checkbox" name="anonymous">
            Reserve Anonymously
        </label>
        <button class="button button-red" id="confirmOkay" type="button">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<footer>
  Lab Reservation System by Labron James Group
</footer>

<script src="scripts/edit-reservation.js"></script>
</body>
</html>
