
<body class="bg-gray-300">
  <div class="drawer">
    <input id="my-drawer-1" type="checkbox" class="drawer-toggle" />

    <!-- Page Content -->
    <div class="drawer-content">

      <body class="">

      <main class="min-h-screen px-8 py-8 bg-green-900"
        style="background-image:linear-gradient(rgba(20,83,45,0.8), rgba(20,83,45,0.8)),url('https://www.transparenttextures.com/patterns/cubes.png');">
        <section class="flex flex-col items-center gap-6">

          <!-- TOP: Infinite Carousel -->
          <div class="carousel">
            <div class="group">
              <img class="card" src="/images/cplab1.jpg" alt="Lab 1">
              <img class="card" src="/images/colab2.jpg" alt="Lab 1">
              <img class="card" src="/images/cplab2.png" alt="Lab 1">
            </div>
            <div class="group">
              <img class="card" src="/images/cplab1.jpg" alt="Lab 1">
              <img class="card" src="/images/colab2.jpg" alt="Lab 1">
              <img class="card" src="/images/cplab2.png" alt="Lab 1">
            </div>
          </div>

          <!-- BOTTOM: Text Content -->
          <div class="w-[70%] text-center">
            <h1 class="text-7xl font-bold text-white mb-4">
              About Save.My.Lab
            </h1>
            <p class="text-lg text-white text-justify mb-6">
              Built by Group Labron James, Save.My.Lab is a dedicated platform designed to ease the reservation of DLSU
              computer laboratories for both students and lab technicians. We know how stressful it can be to find an
              available PC when deadlines are tight. By bringing a highly visual, interactive booking system to our labs, we
              ensure students always have a seat waiting for them, while giving technicians the tools they need to manage room
              capacities efficiently.
            </p>
            <h2 class="text-lg text-white mb-6">
              Check available computer labs and reserve your seat quickly. Select a building, choose a time slot, and pick an
              available computer.
            </h2>
          </div>
        </section>
      </main>

    </div>

    <!-- Sidebar -->
    <div class="drawer-side">
      <label for="my-drawer-1" class="drawer-overlay"></label>
      <ul class="menu bg-base-200 min-h-full w-80 p-4">
        <li><a>Sidebar Item 1</a></li>
        <li><a>Sidebar Item 2</a></li>
      </ul>
    </div>

  </div>

  <!-- External JS -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/scripts/user/homepage2.js"></script>
  <footer class="bottom-0 w-full text-center text-black p-4 z-10">
    Lab Reservation System by Labron James Group
  </footer>
</body>

</html>