* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.custom-navbar {
    background-image:
        linear-gradient(rgba(5, 77, 26, 0.3), rgba(5, 77, 26, 0.3)),
        url("../images/dlsubg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}