* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

/* HEADER */

#head {
  background: #3b7f13;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
}

.title {
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.right .header-button {
  margin-left: 15px;
  padding: 10px 18px;
  background: #d9d9d9;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-radius: 4px;
}

.right .header-button.active {
  background: #bfbfbf;
}

/* MAIN PAGE */

.page {
  background: white;
  margin: 25px;
  padding: 25px;
  min-height: 80vh;
}

h2 {
  margin-bottom: 20px;
}

/* CONTENT GRID */

.content {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  gap: 40px;
}

/* LEFT PANEL */

.layout-panel {
  border: 2px solid black;
  padding: 15px;
}

.room-wrapper {
  position: relative;
  width: 100%;
}

.room-image {
  width: 100%;
  display: block;
}

.seat {
  position: absolute;

  width: 5.3%;
  aspect-ratio: 1 / 1;
  height: auto;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  background: #000;
  border: 2px solid #333;

  transition: background-color 0.2s ease, transform 0.1s ease;

  pointer-events: none;
  opacity: 0.5;
}

.seats-enabled .seat {
  pointer-events: auto;
  opacity: 1;
}

.seat.purple {
  background: #7b2cbf;
}

.seat.blue {
  background: #1e90ff;
}

.seat.red {
  background: #d62828;
}


/* RIGHT PANEL */

.controls {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input-box {
  border: 1.5px solid #aaa;
  border-radius: 12px;
  padding: 14px 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.input-box select,
.input-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.input-box select {
  appearance: none;
  padding-right: 40px;
  cursor: pointer;
}

.input-box:has(select)::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 18px;
  pointer-events: none;
}

/* CONFIRM BUTTON */

.confirm-button {
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  background: #3b7f13;
  color: white;
  cursor: pointer;
}

.confirm-button:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

select option {
  color: black;
}

select:invalid {
  color: grey;
}

/* FOOTER */

footer {
  text-align: right;
  padding: 10px 30px;
  color: #307c17;
  font-size: 14px;
}

